
mixin chat__messenge()
    li.chat__messenge
        a(data-peer=143).chat_ban-actions
        .chat__user
            .chat__avatar
                img(src="https://support.rockstargames.com/system/photos/0001/4510/9157/profile_image_877736018_61840.png")
            em.chat__user-name Marcus_loo
            em.chat__time 21:32
        p.chat__messenge-content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus, consectetur non ea laboriosam officiis rem quas error architecto repellat!



.chat.chat--aside
    .l-chat__toggle
        button.chat__toggle(onclick="toggle()") Ч<br/>А<br/>Т
    .chat__wrap
        .chat__team Командный чат
    .chat-container.tab-content
        ul#team-chat.chat__dialog.tab-pane.fade.in.active
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
        .chat-container__toBottom.l-chat-container__toBottom
            button#toBottom.toBottom
                img(src="/img/down-arrow.svg")

        .chat__send-messenge
            textarea(name="text", cols="40", rows="5", placeholder="Введите сообщение")#chat__input-text.chat__input-text
            button#chat__button.chat__button Отправить

.ban-actions-menu

    form(action="/context-path/ServletName" method="post")
        a
            span.ban-actions-menu__close(aria-hidden="true") X
        ul.ban-actions__list
            span Бан на:
            li
                #[input(type="radio" name="ban" id="ban-1" value="1")] 1 час
            li
                #[input(type="radio" name="ban" id="ban-2" value="2")] 2 часа
            li
                #[input(type="radio" name="ban" id="ban-3" value="4")] 4 часа
            li
                #[input(type="radio" name="ban" id="ban-4" value="inf")] Вечность

     #[input(type="submit", value="Забанить").ban-actions__act]

