.chat.chat--aside
    .chat-wrapper
        .l-chat__toggle
            button.chat__toggle.button(onclick="toggle()") Chat
        ul.chat__tabs
            li.chat__world Мир
            li.chat__team Команда
        ul.chat__dialog
            li.chat__messenge
                em.chat__user-name Marcus_loo
                em.chat__time 21:32
                .chat__avatar
                    img(src="https://support.rockstargames.com/system/photos/0001/4510/9157/profile_image_877736018_61840.png")
                p.chat__messenge-content.
                    Lorem ipsum dolor sit amet, consectetur o ipsa, officia.
            li.chat__messenge
                em.chat__user-name Marcus_loo
                em.chat__time 21:32
                .chat__avatar
                    img(src="https://support.rockstargames.com/system/photos/0001/4510/9157/profile_image_877736018_61840.png")
                p.chat__messenge-content.
                    Lorem ipsum dolor sit amet, covnsectetur adipisicingnsectetur adipisicingnsectetur adipisicingnsectetur adipisicingnsectetur adipisicingnsectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
            li.chat__messenge
                em.chat__user-name Marcus_loo
                em.chat__time 21:32
                .chat__avatar
                    img(src="https://support.rockstargames.com/system/photos/0001/4510/9157/profile_image_877736018_61840.png")
                p.chat__messenge-content.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
            li.chat__messenge
                em.chat__user-name Marcus_loo
                em.chat__time 21:32
                .chat__avatar
                    img(src="https://support.rockstargames.com/system/photos/0001/4510/9157/profile_image_877736018_61840.png")
                p.chat__messenge-content.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
            li.chat__messenge
                em.chat__user-name Marcus_loo
                em.chat__time 21:32
                .chat__avatar
                    img(src="https://support.rockstargames.com/system/photos/0001/4510/9157/profile_image_877736018_61840.png")
                p.chat__messenge-content.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
            li.chat__messenge
                em.chat__user-name Marcus_loo
                em.chat__time 21:32
                .chat__avatar
                    img(src="https://support.rockstargames.com/system/photos/0001/4510/9157/profile_image_877736018_61840.png")
                p.chat__messenge-content.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
        .chat__send-messenge
            textarea(name="text", cols="40", rows="5", placeholder="Введите сообщение").chat__input-text
            button(onclick="closeNav()").chat__button Чат