.ban-actions-menu
    form(action="/context-path/ServletName" method="post")
        a
            span.ban-actions-menu__close(aria-hidden="true") X
        ul.ban-actions__list
            span Бан на:
            li
                #[input(type="radio" name="ban" id="ban-1" value="1")] 1 час
            li
                #[input(type="radio" name="ban" id="ban-2" value="2")] 2 часа
            li
                #[input(type="radio" name="ban" id="ban-3" value="4")] 4 часа
            li
                #[input(type="radio" name="ban" id="ban-4" value="inf")] Вечность

     #[input(type="submit", value="Забанить").ban-actions__act]
