
mixin chat__messenge()
    li.chat__messenge
        .chat__user
            .chat__avatar
                img(src="https://support.rockstargames.com/system/photos/0001/4510/9157/profile_image_877736018_61840.png")
            em.chat__user-name Marcus_loo
            em.chat__time 21:32
        p.chat__messenge-content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus, consectetur non ea laboriosam officiis rem quas error architecto repellat!



.chat.chat--aside
    .l-chat__toggle
        button.chat__toggle(onclick="toggle()") Ч<br/>А<br/>Т
    .chat__wrap
        .chat__team Командный чат
    .chat-container.tab-content
        ul#team-chat.chat__dialog.tab-pane.fade.in.active
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
           +chat__messenge()
        .chat-container__toBottom.l-chat-container__toBottom
            button#toBottom.toBottom
                img(src="/img/down-arrow.svg")

        .chat__send-messenge
            textarea(name="text", cols="40", rows="5", placeholder="Введите сообщение")#chat__input-text.chat__input-text
            button#chat__button.chat__button Отправить
