.footer
    ul.tech-support
        li.tech-support__item
            a.link-item Faq
        li.tech-support__item
            a.link-item Тех. поддержка
    span.copyright © 2016—2017
    ul.social
        li.social__item
            a.link--social.google
        li.social__item
            a.link--social.youtube
        li.social__item
            a.link--social.tumblr
        li.social__item
            a.link--social.facebook
