.footer
    ul.tech-support.pull-left
        li.tech-support__item
            a.link-item Faq
        li.tech-support__item
            a.link-item Тех. поддержка
    ul.social.pull-right
        li.social__item
            a.link--social.google
        li.social__item
            a.link--social.youtube
        li.social__item
            a.link--social.tumblr
        li.social__item
            a.link--social.facebook
    span.pull-right © 2016—2017