
.container-fluid.flex-center
    .menu-game
        .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .menu-game__item.menu-game__item--hover-cs
                    img(src="../img/cs-go_item.jpg" alt="CSGO")
                    .menu-game__wrap
                        .menu-game__game-logo
                            img(src="../img/cs-go_logo.svg")
                     .menu-game__button-wrap
                        a(href="main-page-csgo.html").menu-game__link Узнать больше


            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .menu-game__item.menu-game__item--hover-wot
                    img(src="../img/wot_item.jpg" alt="wot")
                    .menu-game__wrap
                        .menu-game__game-logo
                            img(src="../img/wot_logo.svg")
                     .menu-game__button-wrap
                        a(href="main-page-wot.html").menu-game__link Узнать больше


        .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .menu-game__item.menu-game__item--hover-paragon
                    img(src="../img/paragon_item.jpg" alt="paragon")
                    .menu-game__wrap
                        .menu-game__game-logo
                            img(src="../img/paragon_logo.svg")
                     .menu-game__button-wrap
                        a(href="main-page-paragon.html").menu-game__link Узнать больше


            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .menu-game__item.menu-game__item--hover-dota
                    img(src="../img/dota_item.jpg" alt="dota")
                    .menu-game__wrap
                        .menu-game__game-logo
                            img(src="../img/dota_logo.svg")
                    .menu-game__button-wrap
                        a(href="main-page-dota.html").menu-game__link Узнать больше

