.header
    .top-nav
        .top-nav__global
            a(href="index.html") Киберконтинент
        .account-option
            div.account-option__account-name Квартирный_ГнОм
                ul.account-menu
                    li.account-menu__item
                        a(href="#").account-menu__link Пункт 1
                    li.account-menu__item
                        a(href="#").account-menu__link Пункт 2
                    li.account-menu__item
                        a(href="#").account-menu__link Пункт 3
                    li.account-menu__item
                        a(href="#").account-menu__link Пункт 4
                    li.account-menu__item
                        a(href="#").account-menu__link Пункт 5
            span /
            div.account-option__account-exit Выход
        .create-news
            a Написать новость
    .nav
        .nav__game-item.nav__game-item--cs
            a(href="../main-page-csgo.html")
                img(src="../img/cs-go-logo.png", alt="menu-cs")
            ul.nav__game-menu
                li.game-menu__item
                    a(href="streams-page.html").game-menu__link Стримы
                li.game-menu__item
                    a(href="news.html").game-menu__link Новости
                li.game-menu__item
                    a(href="#").game-menu__link Видео
                li.game-menu__item
                    a(href="#").game-menu__link Матчи
        .nav__game-item.nav__game-item--dota
            a(href="../main-page-paragon.html")
                img(src="../img/porogo-logo.png", alt="menu-paragon")
            ul.nav__game-menu
                li.game-menu__item
                    a(href="streams-page.html").game-menu__link Стримы
                li.game-menu__item
                    a(href="news.html").game-menu__link Новости
                li.game-menu__item
                    a(href="#").game-menu__link Видео
                li.game-menu__item
                    a(href="#").game-menu__link Матчи
        .nav__game-item.nav__game-item--paragon
            a(href="../main-page-dota.html")
                img(src="../img/dota-logo.png", alt="menu-dota")
            ul.nav__game-menu
                li.game-menu__item
                    a(href="streams-page.html").game-menu__link Стримы
                li.game-menu__item
                    a(href="news.html").game-menu__link Новости
                li.game-menu__item
                    a(href="#").game-menu__link Видео
                li.game-menu__item
                    a(href="#").game-menu__link Матчи
        .nav__game-item.nav__game-item--wot
            a(href="../main-page-wot.html")
                img(src="../img/wot-logo.png", alt="menu-wot")
            ul.nav__game-menu
                li.game-menu__item
                    a(href="streams-page.html").game-menu__link Стримы
                li.game-menu__item
                    a(href="news.html").game-menu__link Новости
                li.game-menu__item
                    a(href="#").game-menu__link Видео
                li.game-menu__item
                    a(href="#").game-menu__link Матчи

    .logo
        a.logo__link(href="index.html")


//
   Created by User on 22.12.2016.

