nav.navbar.header
    button.navbar-toggle.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#adaptiveMenu", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

    a.navbar-brand(href="index.html")
        img(src="../img/besa-logo-light.svg")
    .collapse.navbar-collapse#adaptiveMenu
        ul.nav-gamess.navbar-nav.mr-auto
            li.nav-games__item.nav-item.active
                a(href="main-page-csgo.html").nav-games__link.nav-link
                    span CS GO
            li.nav-games__item.nav-item.active
                a(href="main-page-wot.html").nav-games__link.nav-link
                    span World of tanks
            li.nav-games__item.nav-item.active
                a(href="main-page-paragon.html").nav-games__link.nav-link
                    span Paragon
            li.nav-games__item.nav-item.active
                a(href="main-page-dota.html").nav-games__link.nav-link
                    span Dota 2
        .account-option
            span.login.login__icon
                a(href="../login.html") Вход
                .account-option__actions-list
                    ul.account-option__list
                        li.account-option__item
                            a.account-option__link Написать новость
                        li.account-option__item
                            a.account-option__link Добавить стрим
                        li.account-option__item
                            a.account-option__link Action
                        li.account-option__item
                            a.account-option__link Action
            span /
            span.registration
                a(href="../registration.html") Регистрация
