.header
    .top-nav
        .top-nav__global
            a Киберконтинент
         .registration
             a Регистрация/Вход
    .nav
        .nav__game-item.nav__game-item--cs
            a(href="../main_page_csgo.html")
                img(src="../img/cs-go-logo.png", alt="menu-cs")
            ul.nav__game-menu
                li.game-menu__item
                    a(href="streams-page.html").game-menu__link Stream
                li.game-menu__item
                    a(href="stream-view.html").game-menu__link Video
                li.game-menu__item
                    a(href="#").game-menu__link Info
                li.game-menu__item
                    a(href="").game-menu__link Tutorials
        .nav__game-item.nav__game-item--dota
            a(href="../main_page_paragon.html")
                img(src="../img/porogo-logo.png", alt="menu-paragon")
            ul.nav__game-menu
                li.game-menu__item
                    a(href="").game-menu__link Stream
                li.game-menu__item
                    a(href="").game-menu__link Video
                li.game-menu__item
                    a(href="").game-menu__link Info
                li.game-menu__item
                    a(href="").game-menu__link Tutorials
        .nav__game-item.nav__game-item--paragon
            a(href="../main_page_dota.html")
                img(src="../img/dota-logo.png", alt="menu-dota")
            ul.nav__game-menu
                li.game-menu__item
                    a(href="").game-menu__link Stream
                li.game-menu__item
                    a(href="").game-menu__link Video
                li.game-menu__item
                    a(href="").game-menu__link Info
                li.game-menu__item
                    a(href="").game-menu__link Tutorials
        .nav__game-item.nav__game-item--wot
            a(href="../main_page_wot.html")
                img(src="../img/wot-logo.png", alt="menu-wot")
            ul.nav__game-menu
                li.game-menu__item
                    a.game-menu__link Stream
                li.game-menu__item
                    a.game-menu__link Video
                li.game-menu__item
                    a.game-menu__link Info
                li.game-menu__item
                    a.game-menu__link Tutorialss

    .logo
        a.logo__link(href="index.html")


