.header
    .top-nav
        .top-nav__global
            a(href="index.html") Киберконтинент
         .account-option
             span.login.login__icon
                a(href="../login.html") Вход
             span /
             span.registration
                a(href="../registration.html") Регистрация
    .menu-button Меню
    ul.navigation.flexnav(data-breakpoint="800")
        li.nav__game-item.nav__game-item--cs
            a(href="../main-page-csgo.html")
                img(src="../img/cs-go-logo.png", alt="menu-cs")
            span.touch-button
                    i.navicon ▼
            ul.nav__game-menu
                li.game-menu__item
                    a(href="streams-page.html").game-menu__link Стримы
                li.game-menu__item
                    a(href="news.html").game-menu__link Новости
                li.game-menu__item
                    a(href="#").game-menu__link Видео
                li.game-menu__item
                    a(href="#").game-menu__link Матчи
        li.nav__game-item.nav__game-item--dota
            a(href="../main-page-paragon.html")
                img(src="../img/porogo-logo.png", alt="menu-paragon")
            span.touch-button
                    i.navicon ▼
            ul.nav__game-menu
                li.game-menu__item
                    a(href="streams-page.html").game-menu__link Стримы
                li.game-menu__item
                    a(href="news.html").game-menu__link Новости
                li.game-menu__item
                    a(href="#").game-menu__link Видео
                li.game-menu__item
                    a(href="#").game-menu__link Матчи
        li.nav__game-item.nav__game-item--paragon
            a(href="../main-page-dota.html")
                img(src="../img/dota-logo.png", alt="menu-dota")
            span.touch-button
                    i.navicon ▼
            ul.nav__game-menu
                li.game-menu__item
                    a(href="streams-page.html").game-menu__link Стримы
                li.game-menu__item
                    a(href="news.html").game-menu__link Новости
                li.game-menu__item
                    a(href="#").game-menu__link Видео
                li.game-menu__item
                    a(href="#").game-menu__link Матчи
        li.nav__game-item.nav__game-item--wot
            a(href="../main-page-wot.html")
                img(src="../img/wot-logo.png", alt="menu-wot")
            span.touch-button
                i.navicon ▼
            ul.nav__game-menu
                li.game-menu__item
                    a(href="streams-page.html").game-menu__link Стримы
                li.game-menu__item
                    a(href="news.html").game-menu__link Новости
                li.game-menu__item
                    a(href="#").game-menu__link Видео
                li.game-menu__item
                    a(href="#").game-menu__link Матчи

    .logo
        a.logo__link(href="index.html")


