.login-block
    h2 Вход
    form
        .login-input
            p Логин / E-mail
            input(type="text" size="40")
        .login-input
            p Пароль
            input(type="password" size="40")
        button Войти

//
   Created by Алина on 17.11.2016.

