.login-block
    h2 Вход
    form
        .login-input
            input(type="text" size="40", placeholder="Логин/E-mail")
        .login-input
            input(type="password" size="40", placeholder="Пароль")
        button Войти

//
   Created by Алина on 17.11.2016.

