.loginAvatar.flex
    .flex
        a(href="#")
            img(src="img/avatar.png" alt="avatar")
        div
           h2 Логин
           span Инфа
           span Инфа
    .flex
        a(href="#") Приглашение в команду
        a(href="#") Уведомления
