.login-block
    h2 Вход
    form.login-form
        fieldset
            .input
                label(for="login") Логин/E-mail
                input(type="text" id="login", placeholder="Логин/E-mail")
            .input
                label(for="password") Пароль
                input(type="password",id="password" size="40", placeholder="Введите пароль")
        button Войти


