.main-game-page 

    .game-title
        h1.
            World of Tanks
    .game-content
        .game-left-content
            .game-left-content-video.responsive_16-9
                <iframe class="video" src="//www.youtube.com/embed/iJXvmedxF-M"></iframe>
        .game-right-content
            .game-right-content-img
                img(src="img/wot_img.png")
            .game-right-content-text
                p.
                    World of Tanks — это массовая многопользовательская онлайн-игра, полностью посвящённая бронированным машинам середины XX века. У игроков есть возможность плечом к плечу сражаться с поклонниками стальных гигантов со всех уголков планеты.