.page-main-csgo 

    .csgo-title
        h1.
            Counter-Strike: Global Offensive
    .csgo-content
        .csgo-left-content
            .csgo-left-content-video
                
        .csgo-right-content
            .csgo-right-content-img
                img(src="img/csgo_main_img.png")
            .csgo-right-content-text
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?