.main-game-page 

    .game-title
        h1.
            Dota 2
    .game-content
        .game-left-content
            .game-left-content-video.responsive_16-9
               <iframe class="video" src="//www.youtube.com/embed/-cSFPIwMEq4"></iframe> 
        .game-right-content
            .game-right-content-img
                img(src="img/dota_img.png")
            .game-right-content-text
                p.
                    Dota начинала свой путь в качестве пользовательской модификации для Warcraft 3 и превратилась в одну из самых популярных онлайн-игр в мире. Следуя традиции Counter-Strike, Day of Defeat, Team Fortress, Portal и Alien Swarm, Dota 2 появилась в результате найма 