.main-game-page

    .game-title
        h1.
            Paragon
    .game-content
        .game-left-content
            .game-left-content-video
                <iframe class="video" src="//www.youtube.com/embed/w-Desk2WRQY"></iframe>
        .game-right-content
            .game-right-content-img
                img(src="img/paragon_img.png")
            .game-right-content-text
                p.
                    PARAGON — ЭТО НОВАЯ MOBA ДЛЯ ПК И PLAYSTATION®4 ОТ EPIC GAMES, В КОТОРОЙ ВАС ЖДУТ ЗАХВАТЫВАЮЩИЕ СРАЖЕНИЯ, ПРЯМОЕ УПРАВЛЕНИЕ ОТ ТРЕТЬЕГО ЛИЦА И ГЛУБОКИЕ СТРАТЕГИЧЕСКИЕ РЕШЕНИЯ. ВЫБИРАЙТЕ ПОНРАВИВШИХСЯ ПЕРСОНАЖЕЙ ИЗ ПОСТОЯННО РАСШИРЯЮЩЕГОСЯ СПИСКА ГЕРОЕВ, ЗАРАБАТЫВАЙТЕ ДЛЯ НИХ КАРТЫ РАЗЛИЧНЫХ СПОСОБНОСТЕЙ И ОБЪЕДИНЯЙТЕСЬ С ДРУЗЬЯМИ, ЧТОБЫ ПРИВЕСТИ СВОЮ КОМАНДУ К ПОБЕДЕ.