.container-fluid
    .row
        .col-lg-8.col-md-8
            .streams
                .streams__wrap
                    h2 Стримы
                    .streams__container
                        .streams__video-viewer
                            iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                         .streams__list
                             .streams__item
                                 .streams__preview
                                     iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                                 span.streams__name Выход Natus Vincere в плей-офф ELEAGUE Major
                                 span.streams__data 5 февраля, воскресенье

                             .streams__item
                                 .streams__preview
                                     iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                                 span.streams__name Выход Natus Vincere в плей-офф ELEAGUE Major
                                 span.streams__data 5 февраля, воскресенье

                             .streams__item
                                 .streams__preview
                                     iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                                 span.streams__name Выход Natus Vincere в плей-офф ELEAGUE Major
                                 span.streams__data 5 февраля, воскресенье

                             .streams__item
                                 .streams__preview
                                     iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                                 span.streams__name Выход Natus Vincere в плей-офф ELEAGUE Major
                                 span.streams__data 5 февраля, воскресенье
        .col-lg-4.col-md-4
            .videos
                .videos__wrap
                    h2 Видео
                    .videos__list
                        .videos__item
                            .videos__preview
                                iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                            span.videos__name Выход Natus Vincere в плей-офф ELEAGUE Major
                            span.videos__data 5 февраля, воскресенье

                        .videos__item
                            .videos__preview
                                iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                            span.videos__name Выход Natus Vincere в плей-офф ELEAGUE Major
                            span.videos__data 5 февраля, воскресенье

                        .videos__item
                            .videos__preview
                                iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                            span.videos__name Выход Natus Vincere в плей-офф ELEAGUE Major
                            span.videos__data 5 февраля, воскресенье

                        .videos__item
                            .videos__preview
                                iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                            span.videos__name Выход Natus Vincere в плей-офф ELEAGUE Major
                            span.videos__data 5 февраля, воскресенье


                        .videos__item
                            .videos__preview
                                iframe(src="https://www.youtube.com/embed/Q_5IZKJlPIk?ecver=2",frameborder="0", allowfullscreen)
                            span.videos__name Выход Natus Vincere в плей-офф ELEAGUE Major
                            span.videos__data 5 февраля, воскресенье

    .row
        .col-lg-8.col-md-8
            .news
             .news__wrap
                 h2 Новости
                 .news__container
                    .news__item
                        .news__img
                            img(alt="imf cyber" src="http://mulehorngaming.com/wp-content/uploads/2015/12/gamer-wallpaperswallpaper-gamer-controllers-artwork-gamer-wallpaper-gamingholic-g1unpxck.jpg")
                        .news_tag Новости
                        h4.news__header TaZ:»Я пришел из той эпохи, когда буквально не было никаких турниров»
                        p.news__previev Киберспортивный портал slingshot

                    .news__item
                        .news__img
                            img(alt="imf cyber" src="http://mulehorngaming.com/wp-content/uploads/2015/12/gamer-wallpaperswallpaper-gamer-controllers-artwork-gamer-wallpaper-gamingholic-g1unpxck.jpg")
                        .news_tag Новости
                        h4.news__header TaZ:»Я пришел из той эпохи, когда буквально не было никаких турниров»
                        p.news__previev Киберспортивный портал slingshot

                    .news__item
                        .news__img
                            img(alt="imf cyber" src="http://mulehorngaming.com/wp-content/uploads/2015/12/gamer-wallpaperswallpaper-gamer-controllers-artwork-gamer-wallpaper-gamingholic-g1unpxck.jpg")
                        .news_tag Новости
                        h4.news__header TaZ:»Я пришел из той эпохи, когда буквально не было никаких турниров»
                        p.news__previev Киберспортивный портал slingshot
        .col-lg-4.col-md-4
            .matches
                .matches__wrap
                    .h2 Матчи
                    .matches__table
                        table
                            tr.table__title
                                th Логотип
                                th Название
                                th Дата
                                th Фонд
                            tr
                                td
                                td The International
                                td 1 Ноября
                                td 3000000

                            tr
                                td
                                td The International
                                td 1 Ноября
                                td 3000000

                            tr
                                td
                                td The International
                                td 1 Ноября
                                td 3000000

                            tr
                                td
                                td The International
                                td 1 Ноября
                                td 3000000

                            tr
                                td
                                td The International
                                td 1 Ноября
                                td 3000000
                            tr
                                td
                                td The International
                                td 1 Ноября
                                td 3000000
                            tr
                                td
                                td The International
                                td 1 Ноября
                                td 3000000
                            tr
                                td
                                td The International
                                td 1 Ноября
                                td 3000000

