
.container-fluid
    .row
        .col-lg-12.col-md-12
            .match-info
                h2.match-info__header 2017 Heroes of the Storm Global Championship
                .match-info__container
                    .match-info__aside-left
                        .aside-left__logo
                            a(href="#")
                                img(src="//cybersportvirtus.cdnvideo.ru/upload/iblock/3b0/1485964441.jpg.80x80_q85.jpg")
                        .match-info__team-name
                            h2
                                a Team name
                        ul.match-info__team-list
                            li.team-list__item
                                a(href="#").team-list__link Nickname
                            li.team-list__item
                                a(href="#").team-list__link Nickname
                            li.team-list__item
                                a(href="#").team-list__link Nickname
                            li.team-list__item
                                a(href="#").team-list__link Nickname
                            li.team-list__item
                                a(href="#").team-list__link Nickname

                    .match-info__vs
                        span VS
                    .match-info__mid
                        p.match__time 23 апреля 2017 в 14:00
                        .match-info__scope
                            strong
                                span VS

                    .match-info__aside-right
                        .aside-right__logo
                            a(href="#")
                                img(src="https://cybersportvirtus.cdnvideo.ru/upload/resize_cache/iblock/766/150_150_2/mighty_logo.png")
                        .match-info__team-name
                            h2
                                a Team name
                        ul.match-info__team-list
                            li.team-list__item
                                a(href="#").team-list__link Nickname
                            li.team-list__item
                                a(href="#").team-list__link Nickname
                            li.team-list__item
                                a(href="#").team-list__link Nickname
                            li.team-list__item
                                a(href="#").team-list__link Nickname

