.cs-game-page

    ul.nav-games
        li.nav-games__item
            a.nav-games__link CS GO
        li.nav-games__item
            a.nav-games__link World of tanks
        li.nav-games__item
            a.nav-games__link Paragon
        li.nav-games__item
            a.nav-games__link Dota 2
