ul.nav-games
    li.nav-games__item
        a(href="main-page-csgo.html").nav-games__link CS GO
    li.nav-games__item
        a(href="main-page-wot.html").nav-games__link World of tanks
    li.nav-games__item
        a(href="main-page-paragon.html").nav-games__link Paragon
    li.nav-games__item
        a(href="main-page-dota.html").nav-games__link Dota 2

