.news.news-page
    ul.news__list
        li.news-item
            a(href="#").link.link--left.l-new__img.link--news
                img(src="http://www.evo-gamers.com/wp-content/themes/evo.gamers/img/icon_dota.png").link-image
            .news__media-body
                a(href="#")
                    h3.news__heading Getting started
                time.news__time(datetime="2008-02-14 20:00") 2008-2-03 23:44
                a(href="#")
                    p.news__preview-text.
                        Пользователь reddit подготовил видео, в котором показал, как кидать гранаты на Dust2. Руководство содержит как точки, из которых следует кидать гранаты, так и различные техники броска.
                        По материалам киберспортивного портала CyberSport.ru
            .news__edit-post
                form(action="/News/Edit/29", method="get")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/edit-pen_small.png", alt="Изменить")

                form(action="/News/Delete/29", method="post")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/delete_small.png", alt="Удалить" onclick="return confirm('Удалить эту новость?');")

          li.news-item
            a(href="#").link.link--left.l-new__img.link--news
                img(src="http://www.evo-gamers.com/wp-content/themes/evo.gamers/img/icon_dota.png").link-image
            .news__media-body
                a(href="#")
                    h3.news__heading Getting started
                time.news__time(datetime="2008-02-14 20:00") 2008-2-03 23:44
                a(href="#")
                    p.news__preview-text.
                        Пользователь reddit подготовил видео, в котором показал, как кидать гранаты на Dust2. Руководство содержит как точки, из которых следует кидать гранаты, так и различные техники броска.
                        По материалам киберспортивного портала CyberSport.ru
            .news__edit-post
                form(action="/News/Edit/29", method="get")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/edit-pen_small.png", alt="Изменить")

                form(action="/News/Delete/29", method="post")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/delete_small.png", alt="Удалить" onclick="return confirm('Удалить эту новость?');")

          li.news-item
            a(href="#").link.link--left.l-new__img.link--news
                img(src="http://www.evo-gamers.com/wp-content/themes/evo.gamers/img/icon_dota.png").link-image
            .news__media-body
                a(href="#")
                    h3.news__heading Getting started
                time.news__time(datetime="2008-02-14 20:00") 2008-2-03 23:44
                a(href="#")
                    p.news__preview-text.
                        Пользователь reddit подготовил видео, в котором показал, как кидать гранаты на Dust2. Руководство содержит как точки, из которых следует кидать гранаты, так и различные техники броска.
                        По материалам киберспортивного портала CyberSport.ru
            .news__edit-post
                form(action="/News/Edit/29", method="get")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/edit-pen_small.png", alt="Изменить")

                form(action="/News/Delete/29", method="post")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/delete_small.png", alt="Удалить" onclick="return confirm('Удалить эту новость?');")

          li.news-item
            a(href="#").link.link--left.l-new__img.link--news
                img(src="http://www.evo-gamers.com/wp-content/themes/evo.gamers/img/icon_dota.png").link-image
            .news__media-body
                a(href="#")
                    h3.news__heading Getting started
                time.news__time(datetime="2008-02-14 20:00") 2008-2-03 23:44
                a(href="#")
                    p.news__preview-text.
                        Пользователь reddit подготовил видео, в котором показал, как кидать гранаты на Dust2. Руководство содержит как точки, из которых следует кидать гранаты, так и различные техники броска.
                        По материалам киберспортивного портала CyberSport.ru
            .news__edit-post
                form(action="/News/Edit/29", method="get")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/edit-pen_small.png", alt="Изменить")

                form(action="/News/Delete/29", method="post")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/delete_small.png", alt="Удалить" onclick="return confirm('Удалить эту новость?');")

          li.news-item
            a(href="#").link.link--left.l-new__img.link--news
                img(src="http://www.evo-gamers.com/wp-content/themes/evo.gamers/img/icon_dota.png").link-image
            .news__media-body
                a(href="#")
                    h3.news__heading Getting started
                time.news__time(datetime="2008-02-14 20:00") 2008-2-03 23:44
                a(href="#")
                    p.news__preview-text.
                        Пользователь reddit подготовил видео, в котором показал, как кидать гранаты на Dust2. Руководство содержит как точки, из которых следует кидать гранаты, так и различные техники броска.
                        По материалам киберспортивного портала CyberSport.ru
            .news__edit-post
                form(action="/News/Edit/29", method="get")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/edit-pen_small.png", alt="Изменить")

                form(action="/News/Delete/29", method="post")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/delete_small.png", alt="Удалить" onclick="return confirm('Удалить эту новость?');")

          li.news-item
            a(href="#").link.link--left.l-new__img.link--news
                img(src="http://www.evo-gamers.com/wp-content/themes/evo.gamers/img/icon_dota.png").link-image
            .news__media-body
                a(href="#")
                    h3.news__heading Getting started
                time.news__time(datetime="2008-02-14 20:00") 2008-2-03 23:44
                a(href="#")
                    p.news__preview-text.
                        Пользователь reddit подготовил видео, в котором показал, как кидать гранаты на Dust2. Руководство содержит как точки, из которых следует кидать гранаты, так и различные техники броска.
                        По материалам киберспортивного портала CyberSport.ru
            .news__edit-post
                form(action="/News/Edit/29", method="get")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/edit-pen_small.png", alt="Изменить")

                form(action="/News/Delete/29", method="post")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/delete_small.png", alt="Удалить" onclick="return confirm('Удалить эту новость?');")

          li.news-item
            a(href="#").link.link--left.l-new__img.link--news
                img(src="http://www.evo-gamers.com/wp-content/themes/evo.gamers/img/icon_dota.png").link-image
            .news__media-body
                a(href="#")
                    h3.news__heading Getting started
                time.news__time(datetime="2008-02-14 20:00") 2008-2-03 23:44
                a(href="#")
                    p.news__preview-text.
                        Пользователь reddit подготовил видео, в котором показал, как кидать гранаты на Dust2. Руководство содержит как точки, из которых следует кидать гранаты, так и различные техники броска.
                        По материалам киберспортивного портала CyberSport.ru
            .news__edit-post
                form(action="/News/Edit/29", method="get")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/edit-pen_small.png", alt="Изменить")

                form(action="/News/Delete/29", method="post")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/delete_small.png", alt="Удалить" onclick="return confirm('Удалить эту новость?');")

          li.news-item
            a(href="#").link.link--left.l-new__img.link--news
                img(src="http://www.evo-gamers.com/wp-content/themes/evo.gamers/img/icon_dota.png").link-image
            .news__media-body
                a(href="#")
                    h3.news__heading Getting started
                time.news__time(datetime="2008-02-14 20:00") 2008-2-03 23:44
                a(href="#")
                    p.news__preview-text.
                        Пользователь reddit подготовил видео, в котором показал, как кидать гранаты на Dust2. Руководство содержит как точки, из которых следует кидать гранаты, так и различные техники броска.
                        По материалам киберспортивного портала CyberSport.ru
            .news__edit-post
                form(action="/News/Edit/29", method="get")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/edit-pen_small.png", alt="Изменить")

                form(action="/News/Delete/29", method="post")
                    input(name="__RequestVerificationToken", type="hidden")
                    input(type="image", src="/img/delete_small.png", alt="Удалить" onclick="return confirm('Удалить эту новость?');")



button.l-download.
    Загрузить еще
