mixin news-aside__item()
    li.news-aside__item
        h4
            a В Heroes of the Storm добавили Гэндзи и карту из Overwatch По материалам киберспортивного
            span.news-aside__time 17 апр, 22:00
        p.
            Uерой из Overwatch Гэндзи появился на тестовом сервере Heroes of the Storm. Разработчики также добавили в игру новое поле боя Ханамура и переработали несколько текущих героев. Все дополнения являются частью глобального обновления Heroes 2.0.
            По материалам киберспортивного портала CyberSport.ru



.container-fluid
    .row
        .col-lg-8.col-md-8
            .news-page
                h2.news-page__header TaZ:»Я пришел из той эпохи, когда буквально не было никаких турниров»
                span.news-page__time 23 апреля 2017 в 14:00
                .news-page__container
                    .news-page__content
                        p.
                            Всего в первой открытой квалификации поучаствовали 90 команд. Их посеяли в сетку single-elimination с форматом матчей до двух побед в полуфиналах и финале, и до одной в остальных встречах.  MVP Revolution на пути к финалу не проиграла ни одной игры и стала первым участником регионального этапа отборочных для Юго-Восточной Азии.
                            По материалам киберспортивного портала CyberSport.ru
                        img(src="https://cdn-images-1.medium.com/max/600/0*tjYHJZ8l3_Za_V1t.png")
                        p.
                            В азиатской квалификации сыграют восемь команд. Кроме MVP Revolution еще один коллектив определится через вторую открытую квалификацию, а шесть составов получат прямые приглашения. Участников посеют в сетку double-elimination, победитель которой попадет в основной этап EPICENTER: Moscow 2017.
                            По материалам киберспортивного портала CyberSport.ru

                        img(src="http://mozmonkey.com/wp-content/uploads/2013/12/form_placeholders.png")

                        p.
                            Всего в первой открытой квалификации поучаствовали 90 команд. Их посеяли в сетку single-elimination с форматом матчей до двух побед в полуфиналах и финале, и до одной в остальных встречах.  MVP Revolution на пути к финалу не проиграла ни одной игры и стала первым участником регионального этапа отборочных для Юго-Восточной Азии.
                            По материалам киберспортивного портала CyberSport.ru

        .col-lg-4.col-md-4.hidden-xs
            .news-aside
                .news-aside__wrap
                    h2.block-title Новости
                    ul.news-aside__list
                       +news-aside__item()
                       +news-aside__item()
                       +news-aside__item()



