mixin newsBlock()
    .news
        .news__wrap
            h2.block-title Новости
            .news__container
                .news__item
                    .news__img
                        img(alt="imf cyber" src="http://mulehorngaming.com/wp-content/uploads/2015/12/gamer-wallpaperswallpaper-gamer-controllers-artwork-gamer-wallpaper-gamingholic-g1unpxck.jpg")
                    .news_tag Новости
                    h4.news__header TaZ:»Я пришел из той эпохи, когда буквально не было никаких турниров»
                    p.news__preview-text.
                        Завершился европейские отборочные
                        по CS:GO на The Inztel Challenge
                        Katowice 2017. Слот выиграла наша
                        команда EYESPORTS female.
                    span.news__data 04.02.2017


                .news__item
                    .news__img
                        img(alt="imf cyber" src="http://mulehorngaming.com/wp-content/uploads/2015/12/gamer-wallpaperswallpaper-gamer-controllers-artwork-gamer-wallpaper-gamingholic-g1unpxck.jpg")
                    .news_tag Новости
                    h4.news__header TaZ:»Я пришел из той эпохи, когда буквально не было никаких турниров»
                    p.news__preview-text.
                        Киберспортивный портал slingshot
                        авершился европейские отборочные по CS:GO на The Inztel Challenge
                        Katowice 2017. Слот выиграла наша команда EYESPORTS female.
                    span.news__data 04.02.2017

                .news__item
                    .news__img
                        img(alt="imf cyber" src="http://mulehorngaming.com/wp-content/uploads/2015/12/gamer-wallpaperswallpaper-gamer-controllers-artwork-gamer-wallpaper-gamingholic-g1unpxck.jpg")
                    .news_tag Новости
                    h4.news__header Happy создает новую команду
                    p.news__preview-text.
                        Винсент «Happy» Шопенгауэр
                        создает новую команду в рамках
                        грядущего французского решафла.
                        Happy строит новую боевую
                        команду …
                    span.news__data 04.02.2017

        .news__arrow-l
            img(src='img/arrow-with-left-direction.png')
        .news__arrow-r
            img(src='img/arrow-with-right-direction.png')