
.container-fluid
    .personal-data
        .row
            .col-lg-3.col-md-3
                .personal-page__user-img
                    img(src="../img/user-img.jpg")


            .col-lg-5.col-md-5
                .user_data
                    .user_data__login-l
                        span.user_data__login Megaman
                    table.user_data__common
                        tr
                            td ФИО
                            td.user_data__fio Абрамчик Марья Пушкевич
                        tr
                            td Страна
                            td.user_data__country Беларусь
                        tr
                            td Дата рождения
                            td.user_data__born 27.2.1993
                        tr
                            td E-mail
                            td.user_data__email team-dota@gail.com
                        tr
                            td О себе
                            td.user_data__about.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis eros vel erat efficitur, id convallis ante efficitur. Praesent finibus, lectus ac pretium volutpat, tellus mauris congue orci, eu tristique lacus odio ac mauris.



            .col-lg-4.col-md-4
                .games-selected
                    .games-selected__item--hover-cs
                        img(src="../img/cs-go_item.jpg" alt="")
