.registration-block
    h2 Восстановление пароля
    form#registration-form.registration-form
        fieldset
            .input
                label(for="email") Email
                input(type="email" id="email" size="40", placeholder="Email")
        fieldset
            .code
                .code
                    span Генерируемый код
                    img(scr="")
            .input
                label(for="code") Код
                input(type="text" id="code" size="40", placeholder="Код")


        button Отправить

