.registration-block
    h2 Регистрация
    form
        .registration-form
            .input-registration-information-form
                .registration-input
                    p Имя
                    input(type="text" size="40")
                .registration-input
                    p Фамилия
                    input(type="text" size="40")
                .registration-input
                    p E-mail
                    input(type="text" size="40")
                .registration-input
                    p Страна
                    input(type="text" size="40")
            .input-registration-information-form
                .registration-input
                    p Логин
                    input(type="text" size="40")
                .registration-input
                    p Пароль
                    input(type="password" size="40")
                .registration-input
                    p Повторите пароль
                    input(type="password" size="40")
        button Зарегистрироваться
        ul.social
            li.social__item
                a.link--social.regisrtVK
            li.social__item
                a.link--social.registrFace
            li.social__item
                a.link--social.registrGoogle

//
   Created by Алина on 21.11.2016.

