.registration-block
    h2 Регистрация
    form.registration-form
        fieldset
            input(type="text" size="40", placeholder="Имя")
            input(type="text" size="40", placeholder="Фамилия")
        fieldset
            input(type="text" size="40", placeholder="Логин")
            input(type="email" size="40", placeholder="Email")

        fieldset
            input(type="password" size="40", placeholder="Пароль")
            input(type="password" size="40", placeholder="Повторите пароль")
        fieldset
            select.input-option
                option(value="2") Австралия
                option(value="3") Австрия
                option(value="4") Азербайджан
                option(value="5") Албания
                option(value="6") Алжир
                option(value="7") Ангола
                option(value="8") Андорра
                option(value="9") Антигуа и Барбуда



        button Зарегистрироваться
        ul.social
            li.social__item
                a.link--social.regisrtVK
            li.social__item
                a.link--social.registrFace
            li.social__item
                a.link--social.registrGoogle

//
   Created by Алина on 21.11.2016.

