.streams
    .streams__filter
    ul.streams__list
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")
        li.streams__item
            a.streams__link.link
                img(src="")