.streams
    .streams__search.l-streams__search
        input(type="search", placeholder="Поиск").search
        input(type="date").date
        button(aria-hidden="true").fa.fa-search.fa-2x.button.button--search
    .divider
    ul.streams__list
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
        li.streams__item
            a.streams__link.link
                iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")