.stream-view
    .stream-view__video
        .responsive_16-9
            iframe(src="//www.youtube.com/embed/ePbKGoIGAXY")
    .l-chat
        .chat-container-stream
            h5.chat__heading Chat
            ul.chat__dialog
                li.chat__messenge
                    em.chat__user-name Marcus_loo
                    p.chat__messenge-content.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
                li.chat__messenge
                    em.chat__user-name Marcus_loo
                    p.chat__messenge-content.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
                li.chat__messenge
                    em.chat__user-name Marcus_loo
                    p.chat__messenge-content.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
                li.chat__messenge
                    em.chat__user-name Marcus_loo
                    p.chat__messenge-content.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
                li.chat__messenge
                    em.chat__user-name Marcus_loo
                        p.chat__messenge-content.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
                        li.chat__messenge
                            em.chat__user-name Marcus_loo
                                p.chat__messenge-content.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt dolores temporibus odio ipsa, officia.
                .chat__send-messenge
                    textarea(name="text", cols="40", rows="5", placeholder="Введите сообщение").chat__input-text
                    button().chat__button Отправить

