.container-fluid
    .row
        .col-lg-8.col-md-8.col-ms-12.col-sm-12
          .stream-view()
              iframe.js-player-persistent(src="http://player.twitch.tv/?channel=dota2ruhub", height="540", width="960", frameborder="0", scrolling="no", allowfullscreen="true")
        .col-lg-4.col-md-4.col-ms-12.col-sm-12
            .chat-container-stream
                iframe(src="http://www.twitch.tv/dota2ruhub/chat", height="515", width="400", scrolling="no")
