mixin streams__item()

        li.streams__item
            .responsive_16-9
                a.streams__link.link
                    iframe(src="https://www.youtube.com/embed/-SgR7rVHJsM" frameborder="0")
                .title-video
                    a(href="stream-view.html").video-item
                        span.title-video__name Photograpy trip

.streams
    .streams__search.l-streams__search
        input(type="search", placeholder="Поиск").search
        input(type="date").date
        button(aria-hidden="true").fa.fa-search.fa-2x.button.button--search
        .divider

    ul.streams__list
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
        +streams__item()
button.l-download.
    Загрузить еще
