//ПОДИВЕРЖДЕНИЕ на почту о создании аккаунта
p Добро пожаловать на сайт www.eerer.by
p Пожалуйста сохраните это сообщение. Параметры вашей учётной записи таковы:
p Имя пользователя:
    span iamvlds
p Пароль:
    span 887878
p Для активации учётной записи, перейдите по ссылке:
a(href="#") www.eerer.by
p.
    Не забывайте свой пароль: он хранится в нашей базе в зашифрованном виде, и мы не сможем вам его выслать. Если вы всё же забудете пароль, то сможете запросить новый, который придётся активировать таким же образом, как и вашу учётную запись.
p Спасибо за то, что зарегистрировались на нашем сайте.

hr

//Сброс пароля
p Здравствуйте
    span {Nickname}
p.
    Вы получили это письмо потому, что вы попросили выслать новый пароль к вашей учётной записи на сайте {сайт}. Если вы не просили выслать пароль, то не обращайте внимания на это письмо, если же подобные письма будут продолжать приходить, обратитесь к администратору сайта.
    В случае успешной активации вы сможете входить в систему, используя следующий пароль:
span Пароль: lolasde
p.
    Ваш логин (ник) для входа на сайт: tayra1185
    Прежде чем использовать новый пароль, вы должны его активировать. Для этого перейдите по ссылке:
a(href="#")  www.lolo.by

hr

//Подтверждение сброса
p.
    Ваша учётная запись была изменена.
    Для входа в систему используйте пароль из присланного вам письма
a Вернуться на главную

