ul.video-slider
    li.video-slider__arrow
        img(src="../img/left-strike.png")
    li.video-item
        a(href="stream-view.html")
            img(src="http://hd.wallpaperswide.com/thumbs/ursa_dota_2-t2.jpg")
            .video-slider__title
                span Название видеозаписи
    li.video-item
        a(href="stream-view.html")
            img(src="http://hd.wallpaperswide.com/thumbs/ursa_dota_2-t2.jpg")
            .video-slider__title
                span Название видеозаписи
    li.video-item
        a(href="stream-view.html")
            img(src="http://hd.wallpaperswide.com/thumbs/ursa_dota_2-t2.jpg")
            .video-slider__title
                span Название видеозаписи
    li.video-item
        a(href="stream-view.html")
            img(src="http://hd.wallpaperswide.com/thumbs/ursa_dota_2-t2.jpg")
            .video-slider__title
                span Название видеозаписи
    li.video-item
        a(href="stream-view.html")
            img(src="http://hd.wallpaperswide.com/thumbs/ursa_dota_2-t2.jpg")
            .video-slider__title
                span Название видеозаписи
    li.video-slider__arrow
        img(src="../img/right-strike.png")
//
   Created by Алина on 16.11.2016.

