.video-slider
    img(src="../img/left-strike.png")
    .video-item
        <iframe width="156.8" height="88.2" src="https://www.youtube.com/embed/JJSfEPIVO_k" frameborder="0"></iframe>
        p Название видеозаписи
    .video-item
        <iframe width="156.8" height="88.2" src="https://www.youtube.com/embed/JJSfEPIVO_k" frameborder="0"></iframe>
        p Название видеозаписи
    .video-item
        <iframe width="156.8" height="88.2" src="https://www.youtube.com/embed/JJSfEPIVO_k" frameborder="0"></iframe>
        p Название видеозаписи
    .video-item
        <iframe width="156.8" height="88.2" src="https://www.youtube.com/embed/JJSfEPIVO_k" frameborder="0"></iframe>
        p Название видеозаписи
    .video-item
        //<iframe src="https://player.twitch.tv/?video=v101436162" height="88.2" width="156.8" frameborder="0" autoplay=""></iframe>
        <iframe width="156.8" height="88.2" src="https://www.youtube.com/embed/JJSfEPIVO_k" frameborder="0"></iframe>
        p Названиевидеозаписиnkjbluih
    img(src="../img/right-strike.png")

//
   Created by Алина on 16.11.2016.

