//Создание акккаунта

Ваша учётная запись была создана, теперь необходимо её активировать.

На ваш e-mail будет выслано письмо с ключом для активации.
Следуйте указанным в нём инструкциям.





//ПОДИВЕРЖДЕНИЕ

Добро пожаловать на сайт rutracker.org

Пожалуйста сохраните это сообщение. Параметры вашей учётной записи таковы:

----------------------------
Имя пользователя: iamvlds
Пароль: +375299269899
----------------------------

Для активации учётной записи, перейдите по ссылке:

http://rutracker.org/forum/profile.php?mode=activate&u=42275516&act_key=gtn90RzWqbE2

или

http://rutracker.cr/forum/profile.php?mode=activate&u=42275516&act_key=gtn90RzWqbE2

Не забывайте свой пароль: он хранится в нашей базе в зашифрованном виде, и мы не сможем вам его выслать. Если вы всё же забудете пароль, то сможете запросить новый, который придётся активировать таким же образом, как и вашу учётную запись.

Спасибо за то, что зарегистрировались на нашем сайте.





//Подтверждение сброса

Ваша учётная запись была изменена

Для входа в систему используйте пароль из присланного вам письма
Вернуться на главную


