.col-lg-4.col-md-4
    .matches
        .matches__wrap
            h2.block-title Матчи
            .matches__table
                table
                    tr.table__title
                        th Логотип
                        th Название
                        th Дата
                        th Турнир
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира

                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира

                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира

                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира

                    tr
                        td
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                        td The International
                        td 1 Ноября
                        td Название турнира
                    tr
                        td
                            img(src="../img/team-1.png")
                        td The International
                        td 1 Ноября
                        td Название турнира
