doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block title
            title Войти
        block css
            link(rel="stylesheet" href="css/all.css")
    body
        block content



