doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block title
            title Default title
        block css
            link(rel="stylesheet" href="css/all.css")
    body
        block chat
        .page-container.main-background
            .wrapper
                block header
                block content
                block footer

script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src=src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src="js/all.js")


