
%align-center-block {
  display: block;
  margin: 0 auto;
}



%button {
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  background: $button-color;
  @include border-style($border-style, $border-radius);
  color: $heading-color;
  box-shadow: $button-shadow-color;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all .1s;

  &:hover {
    text-decoration: none;
    //transform: scale(1.05);
  }
}


%scroll-track {
  &::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width: 5px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    //background-color: lighten($primary-color, 40%)
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: $primary-color;
  }

  &::-webkit-scrollbar-thumb:hover{
    background-color: darken($primary-color, 10%);
  }

  &::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
  }

  &::-webkit-scrollbar{
    width: 4px;
  }
}


%backgraund-secondary {
  background-image:  url(../img/background_secondary.png);
  background-color: rgba( $backgrond-color-secondary, .7 );
  background-blend-mode: multiply;
}
