$gradient-background: linear-gradient(rgba(22, 32, 36, 0.2), rgba(6, 11, 12, 0.5));

$backgrond-main: $gradient-background, url("../img/background_main-page.jpeg");
$backgrond-CS: $gradient-background, url("../img/background-csgo.jpg");
$backgrond-wot: $gradient-background, url("../img/background-wot.jpg");
$backgrond-paragon: $gradient-background, url("../img/background-paragon.jpg");
$backgrond-dota: $gradient-background, url("../img/background-dota.jpg");


$backgrond-personal-page: $gradient-background, url("../img/background-personal-page.jpg");


.main-background {
  background-image: $backgrond-main;
  background-size: cover;
  background-attachment: fixed;
}

.cs-background {
  @extend .main-background;
  background-image: $backgrond-CS;
}

.wot-background {
    @extend .main-background;
  background-image: $backgrond-wot;
}

.paragon-background {
  @extend .main-background;
  background-image: $backgrond-paragon;
}

.dota-background {
  @extend .main-background;
  background-image: $backgrond-dota;
  background-size: cover;
}

.personal-page-background {
    @extend .main-background;
  background-image: $backgrond-main;
  //background-image: $backgrond-personal-page;


}