//Colors
$primary-color: #df8e46;
//Variable
$border-style: solid 1px #df8e46;
$border-radius: 5px;

//Typography
$heading-color: #df8e46;
$text-color: #ffffff;
$link-color: #df8e46;
$link-hover-color: saturate(#f4f4f4, 20%);
$link-visited-color: #4d82ff;
$button-color: rgba(120, 120, 120, 0.56);
$button-shadow-color:  4px -3px 11px -2px rgba(128, 128, 128, 0.75);

$backgrond-color-secondary: #020202;
$backgrond-color-divide: rgba(16, 16, 17, 0.5);


@import url('https://fonts.googleapis.com/css?family=Exo+2');
$base-font-family: 'Exo 2', Arial, sans-serif;;
$base-font-size:  16px;;
$input-font-size: 14px;
$small-font-size: 14px;
$extra-small-font-size: 12px;
$base-line-height: 18px;

$regular-font-weight: 300;
$light-font-weight: 100;

$fixed-font-family: 'Andale Mono', AndaleMono, monospace;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Roboto Condensed', sans-serif;
$heading-font-weight: 700;

//breakpoints
// Extra small screen / phone
$screen-xs:                  480px !default;

// Small screen / tablet
$screen-sm:                  635px !default;

// Medium screen / desktop
$screen-md:                  880px !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;

//$screen-lg-desktop:          $screen-lg-min !default;

