//Colors
$primary-color: #467ba9;
$primary-color-focus: #549fac;
$table-border-color: #e5e5e5;
$table-background-color: #f6f6f6;
$border-color: #EDEDED;
$border-color-button: #6499ec;
//Variable
$border-style: solid 1px $border-color-button;
$border-style-main-menu: solid 1px $border-color;
$border-style-opocity-low: solid 1px rgba(237, 237, 237, 0.3);
$border-radius: 8px;

$heading-color: #dfdbd5;
$text-color: #a2a2a2;
$text-color-lite: #e4e4e4;
$text-color-dark: #080808;
$placeholder-color: #2c2c2c;
$link-color: #ededed;
$link-hover-color: saturate($link-color, 20%);
$link-visited-color: #4d82ff;
$button-color:  rgba(39, 39, 39, 0.88);
$button-shadow-color:  4px -3px 11px -2px rgba(128, 128, 128, 0.75);

$backgrond-color-first: #2b2c32;
$backgrond-color-secondary:  #2b2c32;
//$backgrond-color-secondary: rgba(39, 39, 39, 1);
$tag-color: #68061d;

$backgrond-color-divide: rgba(0, 0, 0, 0.66);
//$backgrond-color-divide: rgba(16, 16, 17, 0.5);


@import url('https://fonts.googleapis.com/css?family=Exo+2');
$base-font-family: 'Exo 2', Arial, sans-serif;
$base-font-size:  16px;
$heading-font-size:  1.2em;
$input-font-size: 14px;
$small-font-size: 12px;
$extra-small-font-size: 12px;
$base-line-height: 18px;

$regular-font-weight: 300;
$light-font-weight: 100;

$fixed-font-family: 'Andale Mono', AndaleMono, monospace;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Roboto Condensed', sans-serif;
$heading-font-weight: 700;


$screen-extra-lg: 1750px;
////breakpoints
//// Extra small screen / phone
//$screen-xs:                  480px !default;
//
//// Small screen / tablet
//$screen-sm:                  635px !default;
//
//// Medium screen / desktop
//$screen-md:                  880px !default;
//
//// Large screen / wide desktop
//$screen-lg:                  1200px !default;

//$screen-lg-desktop:          $screen-lg-min !default;

