button {
  @extend %button;
  padding: 1em 1.7em;
  text-transform: uppercase;
  text-decoration: none;
  //border-radius: 5px;
  background: $backgrond-color-first;
  color: $primary-color;
  cursor: pointer;
  transition: all .1s;
}

button.button--search {
  @extend %button;
  padding: 1em 1em !important;
  font-size: 18px;
}


