button {
  //@extend %button;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(39, 39, 39, 0.88);
  border: solid 1px #df8e46;
  border-radius: 5px;
  color: #df8e46;
  letter-spacing: 3px;
  cursor: pointer;
  -webkit-transition: all .1s;
  transition: all .1s;
}

button.button--search {
  @extend %button;
  padding: 8px 8px !important;
  font-size: 18px;
}


