
input {
  box-sizing: border-box;
  transition: .2s ease;
}



input[type="search"] {
  @extend %search;
}

input[type="date"] {
  @extend %search;
  height: 18px;
}


input[type="file"] {
  border: none;
  background: none;
}

input[type="file"]::-webkit-file-upload-button {
  @extend %button;
}


input {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px $primary-color;
  color: $link-color;
  background-color: rgba(85, 85, 85, 0.83);

  &::selection {
    //background: $button-shadow-color;
  }

  &:focus {
    outline-color: $primary-color;
  }
}


select  {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px $primary-color;
  color: $link-color;
  background-color: rgba(85, 85, 85, 0.83);

  &:focus {
    outline: none;
  }
}
