.chat--aside {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  border-color: rgba(200, 200, 200, 0.42);
  border-radius: 0;
  background: $backgrond-color-secondary;
  z-index: 15;
  transform: translateX(-310px);
  transition: all cubic-bezier(.62,.28,.23,.99) 0.3s;
  will-change: transform;
}

.chat__wrap {
  padding-left: 7px;
  font-size: 1.8rem;

  .chat__team {
    display: inline-block;
    width: 49%;
    line-height: 30px;
    color: $heading-color;
    box-sizing: border-box;
  }
}



.l-chat__toggle {
  position: absolute;
  top: 320px;
  right: -35px;
}

.chat__toggle {
  height: 115px;
  width: 35px;
  cursor: pointer;
  font-size: $small-font-size;
  font-weight: bold;
  border: none;
  z-index: 1;
  &:focus {
    outline: none;
    
  }
}

.chat_ban-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.chat__user {
  margin-left: 10px;
}

.chat__avatar {
  float: left;
  width: 10%;
  height: auto;
  margin: 5px 10px 0 0;

  img {
    width: 100%;
    border-radius: 50%;
  }
}

.chat--aside .chat__dialog {
   //height: 75%;
  //height: calc(100% - 180px);
 }

.chat__messenge-content {
  font-size: $small-font-size;
  font-weight: $light-font-weight;

  color: $text-color;
}

.chat--aside .chat__send-messenge {
  //bottom: 70px;
}

.chat--aside .chat__input-text {
  width: 100%;
  height: 50px;
}

.chat__button {
  text-transform: none;
}

.l-chat-container__toBottom {
  position: absolute;
  bottom: 60px;
  left: 45%;
  visibility: hidden;
  //transform: translateX(-50%);
  transition: .1s ease .1s;
}

.chat-container__toBottom {
}

.chat-container__toBottom.isScrolled {
  visibility: visible;
  transform: translateY(-180%);
}

.toBottom {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 0;
  background: $table-background-color;
  opacity: 0.8;
  //background: url("/dist/img/down-arrow.svg") no-repeat;
  background-position: 0 0;
  background-size: contain;
  &:focus {
    outline: none !important;
  }
  img {
    display: block;
    width: 100%;
    padding: .5em;
    height: auto;
  }
}


.ban-actions-menu {
  display: none;
  position: absolute;
  width: 200px;
  //height: 130px;
  padding: 10px;
  background: #121212;
  border: $border-style;
  z-index: 1000;
  transition: opacity .2s;

  &::after {
    content: "";

  }

}

.ban-actions-menu__close {
  position: absolute;
  top: 10px;
  right: 10px;
}


.ban-actions__act {
  display: block;
  margin: 5px 25% 0;
  border: none;
  background: none;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

}


