.chat--aside {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  border-color: rgba(200, 200, 200, 0.42);
  border-radius: 0;
  @extend %backgraund-secondary;
  z-index: 15;
  transform: translateX(-310px);
  transition: all cubic-bezier(.62,.28,.23,.99) 0.3s;
  will-change: transform;
}

.chat__tabs {
  text-align: center;

  > li {
    display: inline-block;
    width: 49%;
    line-height: 30px;
    color: $heading-color;
    @include border-style($border-style, $border-radius);
    box-sizing: border-box;
    cursor: pointer;
  }
}

.chat__tabs > li.active {
  border-color: $link-hover-color;
  color: $link-hover-color;
}


.l-chat__toggle {
  position: absolute;
  top: 320px;
  right: -35px;
@extend %backgraund-secondary;
}

.chat__toggle {
  height: 115px;
  width: 35px;
  cursor: pointer;
  font-size: $small-font-size;
    font-weight: bold;
  @extend %button;
  z-index: 1;
  &:focus {
    outline: none;
    
  }
}

.chat_ban-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.chat__user {
  margin-left: 10px;
}

.chat__avatar {
  float: left;
  width: 10%;
  height: auto;
  margin: 5px 10px 0 0;

  img {
    width: 100%;
    border-radius: 50%;
  }
}

.chat--aside .chat__dialog {
   //height: 75%;
  //height: calc(100% - 180px);
 }

.chat__messenge-content {
  font-size: $small-font-size;
  font-weight: $light-font-weight;

  color: $text-color;
}

.chat--aside .chat__send-messenge {
  //bottom: 70px;
}

.chat--aside .chat__input-text {
  width: 100%;
  height: 50px;
}

.chat__button {
  text-transform: none;
}



.ban-actions-menu {
  display: none;
  position: absolute;
  width: 200px;
  //height: 130px;
  padding: 10px;
  background: #121212;
  border: $border-style;
  z-index: 1000;
  transition: opacity .2s;

  &::after {
    content: "";

  }

}

.ban-actions-menu__close {
  position: absolute;
  top: 10px;
  right: 10px;
}


.ban-actions__act {
  display: block;
  margin: 5px 25% 0;
  border: none;
  background: none;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

}


