.chat {
  height: 72%;
  border: $border-style; // solid 1px black;
  border-radius:  5px;
  padding: 5px;
  padding-left: 0;
}

.chat-container {
  position: relative;
  height: 100%;
}

.chat__heading {
  margin: 5px;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
  //margin-left: 5px;
}


.chat__messenge {
  margin-bottom: 10px;
  margin-left: 5px;
  box-shadow: -5px 5px 8px -6px #bfbcbc
}

.chat__dialog {
  height: calc(100% - 150px);
  //max-height: 280px;
  margin-top: 10px;
  overflow-y: scroll;
  @extend %scroll-track;
}

.chat__messenge {
  margin-right: 5px;
  background: $backgrond-color-divide;
  @include clearfix;

}

.chat__messenge-content {
  margin-left: 15px;
  font-size: 1.3rem;
  margin-top: 5px
}

.chat__user-name, .chat__time {
  display: block;
}

.chat__user-name {
  font-size: $fixed-font-size;
}

.chat__time {
  font-size: $fixed-font-size - 5;
}

.chat__send-messenge {
  position: absolute;
  bottom: 20px;
  margin-top: 10px;
}

.chat__input-text {
  display: block;
  width: 100%;
  height: 50px;
  padding: 20px;
  //margin-top: 30px;
  margin-bottom: 10px;
  word-wrap: break-word;
  padding-top: 6px;
  font-size: $small-font-size;
  word-wrap: break-word;
  box-sizing: border-box;
  @extend %scroll-track;
  border: none;
  border-bottom: solid 1px #e4e6e9;
  background: rgba(255, 255, 255, 0.75);

  &:focus {
    outline: 0;
  }
}

.chat__button {
  @extend %align-center-block;
  @extend %button;
  font-size: $small-font-size;

  &:focus {
    outline: none;
  }
}