.chat--aside {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  border-color: rgba(200, 200, 200, 0.42);
  border-radius: 0;
  @extend %backgraund-secondary;
  z-index: 5;
  transform: translateX(-310px);
  transition: all .5s;
  will-change: transform;
}

.chat__tabs {
  text-align: center;

  > li {
    display: inline-block;
    width: 49%;
    color: $heading-color;
    @include border-style($border-style, $border-radius);
    box-sizing: border-box;
    cursor: pointer;

  }
}

.l-chat__toggle {
  position: absolute;
  top: 350px;
  right: -53px;

}

.chat__toggle {
  width: 75px;
  height: 35px;
  cursor: pointer;
  font-size: $small-font-size;
  @extend %button;
  transform: rotate(90deg);

  z-index: 1;
  &:focus {
    outline: none;
  }
}

.chat__avatar {
  float: left;
  width: 20%;
  height: auto;
  margin: 5px 10px 0 0;

  img {
    width: 100%;
    border-radius: 50%;
  }
}

.chat--aside .chat__dialog {
   height: 75%;
 }

.chat__messenge-content {
  font-size: $small-font-size;
  font-weight: $light-font-weight;

  color: #fff;;
}

.chat__send-messenge {
}

.chat__input-text {
  width: 102%;
  min-height: 50px;
  height: 15vh;
}