.l-commands {
  transform: translate(5%,3%);
  padding: 0 1em;

  .close {
    position: absolute;
    color: #000000;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    border-radius: 0 0 0 50%;
    background: $primary-color;
  }
}

.commands {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  background: $backgrond-color-first;
  color: $text-color-lite;

  & > div {
    display: inline-block;
    width: 50%;
  }
}

.commands__team {
  padding: 0 0 1em 1em;
  & > span {
    display: block;
    height: 4.2rem;
    font-size: 2.5rem;
    border-bottom: $border-style;
    margin-bottom: .5em;
    margin-left: -15px;
    padding-left: 15px;
  }
}

.team__list {
  display: flex;
  flex-direction: column;
  height: 550px;
  padding-bottom: 1em;
}

.team__item {
  margin-bottom: .5em;

  &:hover {
    background: $backgrond-color-hover;
    cursor: pointer;
  }

  a {
    display: inline-block;
    width: 50px;
    margin-right: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
  }

  span {
    font-size: 2rem;
  }

  input[type='checkbox'] {
    margin: 0 1em;
  }
}

.search-wrap {
  height: 4.2rem;
  border-bottom: $border-style;
}

.input-wrap {
  position: relative;
  width: 90%;
}


input[type="search"] {
  width: 85%;
  border: none;
  background: transparent;
  &:focus {
    outline: none;
    border-bottom-color: $primary-color-focus;
  }
}

.search_button {
  position: absolute;
  top: 8px;
  width: 25px;
  height: 25px;
  border: none;
  background: url("../img/search.png") no-repeat;
  background-size: contain;
}


.search__list {
  display: block;
  padding: 1em;
  height: 550px;
}

.search__item {
  position: relative;
  margin-bottom: .5em;

  &:hover {
    background: $backgrond-color-hover;
    cursor: pointer;
  }

  a {
    display: inline-block;
    width: 50px;
    margin-right: .5em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
  }

  span {
    font-size: 2rem;
  }
}

//Модиффикатор для командира
.commands--commander {

}

.commands__control {
  & button {
    display: inline-block;
    padding: 0;
    margin-right: 1em;
    font-size: $small-font-size;
    background: none;
    border: none;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }

  }
}

.commands__function {
  display: inline-block;
}

.commands__actions {
  display: inline-block;
  visibility: hidden;
}

.search__invite {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  font-size: $small-font-size;

}
