.footer {
  position: relative;
  width: 80%;
  height: 40px;
  bottom: -5px;
  margin: 0 auto;
  @extend %backgraund-secondary;
  @include border-style($border-style, $border-radius);
  @include clearfix;
}

.tech-support {
  line-height: 30px;
}

.social__item {
  padding-top: 8px;
}

.copyright {
  display: block;
  padding: 0 10px;
  line-height: 40px;
  color: $link-color;
}

.footer .tech-support {
  float: left;
}

.footer .copyright {
  float: right;
}

.footer .social {
  float: right;
}
