.login-block {
  @extend .registration-block;
  //width: 50%;
  //margin: 0 auto 2rem;
  //padding: 10px 0 0px;
  //text-align: center;
  //color: $primary-color;
  //
  ////height: 400px;
  //@extend %backgraund-secondary;
  //
  //form {
  //  width: 40%;
  //  margin: 0 auto;
  //  text-align: left;
  //  border: 1px solid transparent;
  //
  //}
}

.login-form {
  @extend #registration-form;

}

.login-input {
  padding-bottom: 0px;
}
.login-input p {
  color: $link-color;
//  margin-bottom: 35px;
}
.login-input input {
  width: 100%;
  //height: 25px;
  margin-bottom: 20px;
  color: $link-color;
  border-color: transparent transparent $primary-color transparent;
  border-style: solid;
  background: transparent;

  &:focus {
    outline: none;
    border-bottom-color: $primary-color-focus;
  ;
  }
}
.login-block button {
  display: block;
  margin: auto;
  margin-top: 2em;
}
