.nav-games {
  width: 100%;
  @extend %backgraund-secondary;
}

.nav-games__item {
  display: inline-block;
  width: 24%;
  text-align: center;
  &:not(:last-child) {
    border-right: $border-style-opocity-low;

  }

}

.nav-games__link {
  display: block;
  padding: .5em;
  font-size: $backgrond-color-secondary;
}