.top-nav {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
  @include clearfix;
}

.top-nav__global {
  position: relative;
  float: left;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 35px;
  @extend %backgraund-secondary;
  @include border-style($border-style, $border-radius);
  
  &:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 8px;
    right: 7px;
    background: url(../img/global.png);
    background-size: cover;
  }

}

.account-option {
  position: relative;
  min-width: 150px;
  float: right;
  line-height: 30px;
  padding: 0 20px;
  color: $link-color;
  text-align: center;

  @extend %backgraund-secondary;
  @include border-style($border-style, $border-radius);
}


.account-option__account-name {
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: #ffffff;
  }
}

.account-option__account-name:hover .account-menu {
  display: block;
}

.account-option__account-exit {
  @extend .account-option__account-name;
}

  //&::after {
  //  content: "";
  //  position: absolute;
  //  right: 0;
  //  top: -7px;
  //  background: url(../img/iconDoor.png) no-repeat center right;
  //  width: 45px;
  //  height: 45px;
  //  transform: scale(.5);
  //}


.login {
  @extend .account-option__account-name;
}

.registration {
  @extend .account-option__account-name;
}


.account-menu {
  display: none;
  position: absolute;
  width: 50%;
  top: 101%;
  left: 0;
  z-index: 99;
}

.account-menu__item {
  width: 100%;
  @extend .game-menu__item;
  padding: 0;
  margin-top: 5px;
  font-size: $small-font-size;
}

 .account-menu__link {
  @extend .game-menu__link;
  padding: 0 !important;

}





.l-nav {
  width: 100%;
}

.nav {
  text-align: center;
  margin-bottom: -3px;
}

.nav__game-item {
  position: relative;
  display: inline-block;
  width: 21%;

 // @include border-style($border-style, $border-radius);
  &:hover  {
    cursor: pointer;
  }

  &:hover .nav__game-menu {
    display: block;
  }

  img {
    max-width: 100%;
    @include border-style($border-style, $border-radius);
  }

}


.nav__game-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 999;

}

.game-menu__link {
  display: block;
  text-align: center;
  padding: 16px;
}

.logo {

}

.game-menu__item {
  @extend %backgraund-secondary;
  @include border-style($border-style, $border-radius);
  margin-bottom: 2px;
  transition: all cubic-bezier(.62,.28,.23,.99) 0.2s;


  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(27, 26, 25);
  }
  
}

.logo__link {
  display: block;
  width: 100%;
  //min-width:  850px;
  margin: -80px auto 0 auto;
  height: 330px;
  background-image: url(../img/logo2.png);
  background-size: cover;
  background-position: center;
}
