.news {
  height: 100%;
  @extend %backgraund-secondary;
}

.news__wrap {
  padding: 0 20px;
}


.news__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}


.news__item {
  position: relative;
  width: 30%;
}


.news__img {
  > img {
    width: 100%;
    height: auto;
  }

}

.news_tag {
  display: inline-block;
  padding: .1em 1em;
  margin: 1.9em 0;
  border-radius: $border-radius;
  color: $text-color-lite;
  background: $tag-color;
}


.news__header {
  margin-bottom: 2em;
  color: $primary-color;
}

p.news__previev {
  line-height: 1.4;
  color: $text-color;
  height: 120px;
  overflow: hidden;
  margin-bottom: 55px;
  line-height: 25px;
  text-overflow: ellipsis;


  &:before {
    content: "";
    float: left;
    width: 5px;
    height: 200px;
  }

  & > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
  }

  &:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  }
}

.news__data {
  position: absolute;
  bottom: 20px;
  margin-left: 18px;
  
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: -18px;
    top: 4px;
    width: 14px;
    height: 14px;
    background: url("../img/clock-data.png");
  }
}