.news {
  @extend %backgraund-secondary;
}

.news__wrap {
  padding: 0 20px;
}


.news__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


.news__item {
  width: 30%;
}


.news__img {
  > img {
    width: 100%;
    height: auto;
  }
}