.registration-block {
  width: 80%;
  margin: auto;
  padding: 10px 0 15px;
  text-align: center;
  @extend %backgraund-secondary;
  @include border-style($border-style, $border-radius);

  fieldset {
    width: 80%;
    margin: 0 auto;
    border: none;
    input {
      display: inline-block;
      width: 40%;
      margin-bottom: 5px;
    }
  }
}



.registration-block button {
  margin: 15px 0;
  padding: 10px;
}
