.streams {
  @extend %backgraund-secondary;

  h2 {
    margin-top: 0;
  }
}

.streams__wrap {
  padding: 0 1em;
}


.streams__container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.streams__video-viewer {
  width: 55%;
  margin-right: 3%;
  @extend %responsive_16-9;
}


.streams__list {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin-bottom: 1em;
  max-height: 270px;
  //overflow-y: scroll;
  @extend %scroll-track;
}


.streams__item {
  position: relative;
  width: 90%;
  margin-bottom: 1em;

  @include clearfix;

  &:not(:last-child) {
    border-bottom: $border-style-opocity-low;
  }
}


.streams__preview {
  float: left;
  //display: inline-block;
  //left: 0;
  width: 40%;
  margin-right: 1em;
  @extend %responsive_16-9;
}

.streams__item-info-wrap {
  float: right;
  width: 54%;

}

.streams__name {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  //margin: 1em 0 2em 0;
}

.streams__data {
  display: block;
  font-size: .8em;
  padding: .3em 1em .3em 0;
}
