.video-slider {
  //display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto 50px;
  padding: 15px 6px;
  @extend %backgraund-secondary;
  @include border-style($border-style, $border-radius);
}

.video-item {
  position: relative;
  width: 18%;
  transition: all cubic-bezier(.62,.28,.23,.99) 0.1s;
  z-index: 1;
  &:hover  {
    z-index: 999;
    transform: scale(1.05);
  }

}

.video-item img {
  width: 100%;
  object-fit: cover;

}





.video-slider__arrow {
  width: 45px;
  transition: all cubic-bezier(.62,.28,.23,.99) 0.1s;
  transform: scale(.5);

  &:hover  {
    transform: scale(.55);
  }
}


.video-slider__title {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5px;
  margin: 0;
  padding: 0 5px;
  font-size: $extra-small-font-size;
  color: $link-color;

}
