.video-slider {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: -60px auto 80px;
  padding: 15px 0;
  @extend %backgraund-secondary;
  @include border-style($border-style, $border-radius);
}
.video-slider img{
  height: 80px;
  margin: auto 15px;
  transition: all .1s;
  &:hover  {
    transform: scale(.9);
  }
}
.video-item{
  margin: auto 0;
  &:hover  {
    background-color: rgba(53, 53, 53, 1);
  }
}
.video-item img{
  margin: auto auto;
  &:hover  {
    transform: scale(1);
  }
}
.video-item p{
  width: 156px;
  height: 20px;
  color: $link-color;
  margin-top: -3px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;
  &:hover  {
    color: $link-hover-color;
  }
}
