@import "main";
@import "media";
@import "stream-view-page";
@import "streams-page";
@import "main-game-page";



body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $regular-font-weight;
  line-height: $base-line-height;

  background: url(../img/background_main-page.jpg) no-repeat 60% 0%,  url(../img/background_secondary-overlay.png) no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;

  @extend %scroll-track;
}


h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}


p::selection {
  color: #000000;
  background: #d6d6d6;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}


/// TEMP!!!!!


//body > div:nth-last-child(2) {
//  display: none;
//}
