.main-game-page {
    //background: url(../img/grid_csgo.png);
    //background-size: cover;
    @extend %backgraund-secondary;
    width: 80%;    
    height: auto;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
}
.game-title h1 {
    margin-top: 0;
    

}
.game-content {
    display: flex;
    justify-content: space-around;
}
.game-left-content {
    width: 55%;
    height: auto;
}
.game-left-content-video {
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 12%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}
.game-right-content {
    width: 35%;
    height: auto;
}
.game-right-content-img img{
    width: 100%;
    margin-bottom: 20px;
}
.game-right-content-text p {
    color: #fff;
    text-align: justify;
    line-height: 1.3em;
}

.video {
    //width: 100%;
    //height: 100%;
    //border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

