.page-container {
  will-change: margin;
  transition: all .5s;
  }

.wrapper {
  max-width: $screen-lg;
  margin: 0 auto;
}

.news {
  width: 80%;
  margin: 0 auto;
  @extend %backgraund-secondary;
  border: $border-style;
  border-radius: $border-radius;
  //@include border-style($border-style, $border-radius);
}

.news__list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 25px;
}

.news-item {
  margin-bottom: 10px;
  padding: 10px;
  background: $backgrond-color-divide;

  font-size: 14px;
}

.l-new__img {
}

.news__media-body {
  time {
    display: block;
    font-size: $extra-small-font-size;
  }
}

.news__heading {
  font-size: 1.2rem;
  margin: 0;
  color: $text-color;
}

.news__preview-text {
  color: $text-color;
  margin-top: 0;

}

.news__time {

}


.link--news {
  width: 15%;
  min-width: 50px;
  max-width: 80px;
  height: auto;
  margin-right: 1rem;

  img {
    width: 100%;
    height: auto;
  }
}

.link--left {
  float: left;
}

.link-image {
}

.l-download {
  display: block;
  margin: 30px auto;
}
