@media screen and (min-width: 992px){
  .menu-game > .row:first-child {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px){
  .menu-game__link {
    font-size: .7em !important;
  }

  .account-option, .create-news,.top-nav__global {
    float: none !important;
    text-align: center !important;
  }

  .footer .tech-support {
    font-size: .8em !important;
  }

  .social {
    float: none !important;
    text-align: center !important;
  }

}