@media screen and (max-width: $screen-xs){
  .news__item {
    //width: 100% !important;
  }

  .aside-left__logo, .aside-right__logo {
    width: 80% !important;
  }

  .match-info__vs {
    margin-top: 14% !important;
    font-size: 2rem !important;
  }

}

@media screen and (max-width: $screen-sm){
  .news__item {
    width: 100% !important;

}

@media screen and (max-width: $screen-md - 1){

  .aside-left__logo, .aside-right__logo {
    width: 60% !important;
  }

  .streams__list {
    display: none !important;
  }

  .streams__list {
    display: none !important;
  }

  .videos__list {
    width: 100%;
    display: block !important;

  }
  .videos__item {
    width: 45% !important;
    //padding: 2em;
    margin-right: 2em;
    float: left !important;
  }
  .chat--aside {
    display: none!important;
  }
}


  .flex-center {
    //height: 100vh !important;
  }

  .menu-game > .row:first-child {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $screen-xs){

  .menu-game__link {
    font-size: .7em !important;
  }

  .account-option, .create-news,.top-nav__global {
    float: none !important;
    text-align: center !important;
  }

  .footer {
    visibility: hidden;
  }

  .footer .tech-support {
    font-size: .8em !important;
  }

  .social {
    float: none !important;
    text-align: center !important;
  }

  .registration-block, .login-block  {
    width: auto !important;
    margin: 0 auto 2rem !important;
  }

  .registration-form fieldset, .login-form fieldset {
    max-width: 100% !important;
  }

  .login-input {
    width: 90% !important;
  }
}

@media screen and (min-width: $screen-md){
  .registration-block, .login-block {
    margin: 0 auto 10rem !important;
  }
}



@media screen and (min-width: $screen-md){

  .row {
    margin-bottom: 30px !important;
  }

  .row .row {
    margin-bottom: 0 !important;
  }

}

@media screen and (max-width: $screen-md){
  .news-page__content {
    img {
      width: 60%!important;
    }
  }
  .match-info__container {
    flex-wrap: wrap !important;
  }
  .match-info__team-list {
    display: none !important;
  }
  .match-info__aside-left,.match-info__aside-right {
    width: 45% !important;
    padding: 2em 1em 0 1em !important;
    order: 1;
  }
  .match-info__aside-right {
    order: 3;
  }
  .match-info__vs {
    display: block !important;
    margin-top: 5% !important;
    order: 2;
  }
  .match-info__mid {
    width: 100%!important;
    order: 4;

    strong {
      font-size: 10vw !important;
    }
  }
  .match-info__team-name {
    h2 {
      font-size: 1.5rem !important;

    }

    .news-page__content {
      img {
        width: 50%!important;
      }
    }

  }

  .news__more-news.center-block {
    margin-top: 28px;
    display: block !important;
  }
  .header {
    .row > [class*="col-"] {
      margin-bottom: 0 !important;
    }
  }
  .row > [class*="col-"] {
    margin-bottom: 2em !important;
  }
  .row {
    margin-bottom: 0 !important;
  }
  .news__container {
    width: 100% !important;
    margin: 0 !important;
  }
  .news__item {
    width: 100% !important;
    display: block !important;

    &:not(:last-child) {
      margin-bottom: 1em !important;
      border-bottom: $border-style-opocity-low;
    }


  }
  .news__preview-text {
    max-height: 70px !important;
  }
  .news__arrow-l, .news__arrow-r {
    display: none !important;
  }
  .registration-block, .login-block {
    width: 90% !important;
    margin: 0 auto 10rem !important;
  }

  .commands {
    flex-direction: column!important;
  }

  .commands__team, .commands__search {
    display: block!important;
    width: 100%!important;
  }

  .team__list {
    height: 200px!important;
  }



  .input-wrap {
    width: 104%!important;
  }

  .search__list {
    height: 300px!important;
    text-align: left!important;
  }
  .search__item {
    width: 100%!important;
    float: none!important;
  }

}

@media screen and (min-width: 1300px ){
  .personal-data,
  .registration-block,
  .login-block {
  }

}


@media screen and (max-width: 600px){
  .news__item {
    width: 100% !important;
    margin-bottom: 30px !important;
    border-bottom: $border-style-opocity-low;
  }
}


@media screen and (max-width: $screen-sm){

  .navbar-brand {
    float: none !important;
  }
  .account-option {
    text-align: center !important;
    float: none !important;
    line-height: inherit !important;
  }


}
