.stream-view {
  height: 100vh;
  @include clearfix;
  @extend %backgraund-secondary;
  padding: 25px;
    width: 85%;
    margin: auto;
    box-sizing: border-box;
}

.stream-view__video {
  width: 70%;
  float: left;
}

.l-chat {
  width: 28%;
  float: right;
}