.streams {
  @extend %backgraund-secondary;
  border: $border-style;
  border-radius:  $border-radius;
    width: 85%;
    margin: auto;
    
}

.l-streams__search {
  padding: 10px 10px 0 10px;
}
.date {

}

.streams__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 20px 20px 20px;
}

.streams__item {
  width: 24%;
}

.divider {
  margin: 15px auto;
  border-bottom: $border-style;

}

.title-video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0 10px 10px;
  background: rgba(21, 20, 20, 0.5);
}

.responsive_16-9 {
  @extend %responsive_16-9;
}

