extends ../templates/_page-template

block title
    title CyberSport

block chat
    include ../templates/_chat
block content
    include ../templates/_header
    include ../templates/_main
block footer
    include ../templates/_footer