extends ../templates/page-templates/_template-main-page-games

block title
    title CyberSport

block chat
    include ../templates/_chat
block content
    include ../templates/_header
    include ../templates/_game-menu
block footer
    include ../templates/_footer


