extends ../templates/page-templates/_template-login

block title
    title Войти

block chat
    include ../templates/_chat.jade
block header
    include ../templates/_nav-games
    include ../templates/_header
block content
    include ../templates/_login
block footer
    include ../templates/_footer

