extends ../templates/page-templates/_template-main-page-CS

block title
    title Login

block chat
    include ../templates/_chat
block content
    include ../templates/_header
    include ../templates/_login
block footer
    include ../templates/_footer
//
   Created by Алина on 17.11.2016.

