extends ../templates/page-templates/_template-main-page-wot

block title
    title World of tanks

block chat
    include ../templates/_chat
block header
    //include ../templates/_nav-games
    include ../templates/_header
block content
    include ../templates/_main-wot
block footer
    include ../templates/_footer