extends ../templates/_page-template

block title
    title World Of Tanks

block chat
    include ../templates/_chat
block content
    include ../templates/_header
    include ../templates/_main_wot
block footer
    include ../templates/_footer