extends ../templates/_page-template

block title
    title Dota 2

block chat
    include ../templates/_chat
block content
    include ../templates/_header
block footer
    include ../templates/_footer