extends ../templates/page-templates/_template-main-page-dota

block title
    title Dota 2

block chat
    include ../templates/_chat
block header
    //include ../templates/_nav-games
    include ../templates/_header
block content
    include ../templates/_main-dota
block footer
    include ../templates/_footer