extends ../templates/page-templates/_template-main-page-CS

block title
    title CS GO

block chat
    include ../templates/_chat
block header
    //include ../templates/_nav-games
    include ../templates/_header
block content
    include ../templates/_main-csgo
block footer
    include ../templates/_footer