extends ../templates/page-templates/_template-main-page-paragon

block title
    title Paragon

block chat
    include ../templates/_chat
block header
    //include ../templates/_nav-games
    include ../templates/_header
block content
    include ../templates/_main-paragon
block footer
    include ../templates/_footer