extends ../templates/_page-template

block title
    title Новости

block chat
    include ../templates/_chat
block content
    include ../templates/_header
    include ../templates/_news
block footer
    include ../templates/_footer
