extends ../templates/page-templates/_template-main-page-CS

block title
    title Новости

block chat
    include ../templates/_chat
block content
    //include ../templates/_header-account
    include ../templates/_news-admin
block footer
    include ../templates/_footer
