extends ../templates/_page-template.jade

block title
    title Personal page

block chat
    include ../templates/_chat.jade
block content
    include ../templates/_header.jade
    include ../templates/_login.jade
block footer
    include ../templates/_footer.jade