extends ../templates/page-templates/_template-personal-page

block title
    title Личный кабинет

block chat
    include ../templates/_chat.jade
block header
    //include ../templates/_nav-games
    include ../templates/_header
block content
    include ../templates/_personal-page
block footer
    include ../templates/_footer