extends ../templates/_page-template

block title
    title Login

block chat
    include ../templates/_chat
block content
    include ../templates/_header
    include ../templates/_registration
block footer
    include ../templates/_footer

//
   Created by Алина on 21.11.2016.

