extends ../templates/page-templates/_template-registration

block title
    title Регистрация

block chat
    include ../templates/_chat.jade
block header
    //include ../templates/_nav-games
    include ../templates/_header
block content
    include ../templates/_registration
block footer
    include ../templates/_footer

