extends ../templates/page-templates/_template-registration

block title
    title Восстановление пароля

block chat
    include ../templates/_chat.jade
block header
    //include ../templates/_nav-games
    include ../templates/_header
block content
    include ../templates/_reset-password
block footer
    include ../templates/_footer

