extends ../templates/_page-template

block title
    title Streams

block chat
    include ../templates/_chat
block content
    include ../templates/_header
    include ../templates/_stream-view
block footer
    include ../templates/_footer