extends ../templates/page-templates/_template-main-page-CS

block title
    title Видео

block chat
    include ../templates/_chat
block content
    include ../templates/_header
    include ../templates/_video
block footer
    include ../templates/_footer
